.AppWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-box {
  position: relative;
  right: 12%;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.nav-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: blue;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 10px;
}
.heading {
  background-color: rgb(141, 204, 241);
  width: 100%;
  border: 1px solid black;
  max-height: 60px;
}

.nav-flex {
  flex: 0.1;
}
.nav-search-flex {
  flex: 0.8;
}
